In [ ]:
import pandas as pd
import random 
import names
import csv

In [ ]:
details = ["S.No.", "First Name", "Last Name", "Father's Name", "Mother's Name", "Category", "Class", "Physics", "Maths", "Chemistry"]

In [ ]:
# with open('RawData.csv', 'w', newline='') as f:
#     file = csv.writer(f, delimiter=',')
#     file.writerow(details)

In [ ]:
catgry = ['OBC', "General", "SC", "ST"]
clas = ["12th", "Dropper"]


# with open('RawData.csv', 'a', newline='') as f:
#     file = csv.writer(f)
#     for i in range(200000):
#         file.writerow([i, names.get_first_name(), names.get_last_name(), names.get_full_name(gender='M'), names.get_full_name(gender='F'), random.choice(catgry), random.choice(clas), random.randint(0, 100), random.randint(0, 100), random.randint(0, 100)])

In [ ]:
df = pd.read_csv('RawData.csv') # reading the file

In [100]:
df['Total'] = df['Physics'] + df['Maths'] + df['Chemistry']  # adding all the marks

In [101]:
df.sort_values(by=['Total', 'Physics', 'Maths', 'Chemistry', 'First Name'], ascending=False, inplace=True)

In [104]:
df['Rank'] = df['Rank'].rank(method='max')

In [ ]:
df['Rank'] = range(1, 71827)

In [ ]:
df['Percentile'] = (1 - (df['Rank'] - 1)/71826)*100

In [ ]:
fd = df.sort_values(by=['Total', 'Physics'], ascending=False)
fd.head(20)

In [105]:
# df['Physics Rank'] = range(1,71827)
df.head(20)

,S.No.,First Name,Last Name,Father's Name,Mother's Name,Category,Class,Physics,Maths,Chemistry,Total,Rank,Percentile
67730,67730,Javier,Tuck,Christie Mckelvy,Emma Roth,SC,Dropper,99,99,99,297,1.0,100.000000
61720,61720,James,Wells,Clarice Guthrie,Rachelle Simoneau,ST,12th,100,96,100,296,2.0,99.998608
50253,50253,Clarice,Williams,Victoria Hunter,William Manchester,ST,Dropper,97,98,100,295,3.0,99.997215
16696,16696,Kristen,Myrlie,Joseph Kuttner,Steven Herman,ST,Dropper,94,100,100,294,4.0,99.995823
44011,44011,Carol,Sato,Felicia Meyers,Karen Schleicher,SC,Dropper,100,98,95,293,7.0,99.991646
20046,20046,Ruth,Yanez,Richard Bello,Nancy Brooks,SC,12th,100,97,96,293,8.0,99.990254
40196,40196,Isidro,Enriquez,Tina Connolly,Eleanor Jackson,ST,Dropper,99,97,97,293,5.0,99.994431
21483,21483,Alton,Kratz,Edward Dykes,Audrey Booker,SC,12th,96,100,97,293,6.0,99.993039
8025,8025,Mark,Gentile,Mark Palmese,Melissa Dziuban,ST,Dropper,100,92,100,292,9.0,99.988862
8493,8493,Frank,Woods,Christy Warren,Constance Fleshman,General,Dropper,98,97,97,292,10.0,99.987470
50207,50207,Colette,Britt,Willis Thomas,Ralph Rader,General,Dropper,94,100,98,292,11.0,99.986077
17644,17644,Christopher,Johnson,Danny Lafrance,Dorothy Nguyen,SC,12th,100,98,93,291,13.0,99.983293
35403,35403,Barbara,Cargile,James Thomas,Willie Rogowski,SC,Dropper,100,94,97,291,12.0,99.984685
45452,45452,Luke,Ayers,Thomas Adams,Kenny Kim,OBC,12th,97,95,99,291,14.0,99.981901
18758,18758,Steve,Bohanon,Scott Agudo,Jordan Howard,SC,12th,100,100,90,290,19.0,99.974939
28092,28092,Rita,Robinson,Charles Gunnoe,David Owens,SC,12th,100,97,93,290,15.0,99.980508
32735,32735,Jimmie,Krause,David Elzey,Shirleen Walker,General,12th,100,96,94,290,17.0,99.977724
34862,34862,Ronald,Mitchell,Harold Waller,David Keck,General,12th,98,93,99,290,20.0,99.973547
42955,42955,Kevin,Reist,Jimmy Hatcher,Gail Dick,OBC,Dropper,98,93,99,290,16.0,99.979116
70105,70105,Bert,Cundiff,Michael Wolf,Samuel Howe,OBC,Dropper,91,100,99,290,18.0,99.976332